files:
  '/opt/elasticbeanstalk/hooks/appdeploy/pre/49node_yarn.sh' :
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -euxo pipefail

      # Check and install the required Node.js version
      if [[ $(node -v) == "v14.18.2" ]]; then
        echo 'Required Node version is already installed.'
      else
        echo 'Installing required Node version...'
        npm install -g n
        n 14.18.2
      fi
