files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49node.sh" :
    mode: "000755"
    owner: root
    group: users
    content: |
      #!/bin/bash
      set -e
      curl --silent --location https://rpm.nodesource.com/setup_14.x | bash -
      yum -y install nodejs

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50yarn.sh" :
    mode: "000755"
    owner: root
    group: users
    content: |
      #!/bin/bash
      curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | tee /etc/yum.repos.d/yarn.repo
      yum -y install yarn
